<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="home">
        <header>
            <h1>
                Students Database
            </h1>
            <p class="important">
                You should run this code using a server.
            </p>
        </header>
        <section>
            <p>
                You can:
                <ul>
                    <li>Add student by name and grade</li>
                    <li>List all added students</li>
                    <li>Delete student by its ID</li>
                </ul>
            </p>
        </section>
    </div>
</body>
</html>
